# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Modelos (ya los copiamos manualmente)
models/
!models/model_20250717_214053.pkl
!models/preprocessor_20250717_214053.pkl

# Otros
.DS_Store
.git/
.gitignore
